.container{
    display: grid;
    grid-template-areas:"header header"
			"basic photo";
        justify-items: center;
}

.header{
    grid-area: header;

}

.photo{
    grid-area: photo;
}

.basic{
    grid-area: basic;
}

.container2{
    display: grid;
    grid-template-areas:"photo2 grants";
        justify-items: center;
}

.photo2{
    grid-area: photo2;
}

.grants{
    grid-area: grants;
}

.papers{
    width: 80%;
}
